<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="{{=URL('static','plugin_tim/apple-icon.png')}}">
	<link rel="icon" type="image/png" href="{{=URL('static','plugin_tim/favicon.png')}}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

	<title>Second Life Sensor</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

	<!-- CSS Files -->
    <link rel="stylesheet" href="{{=URL('static','plugin_tim/assets/css/bootstrap.min.css')}}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{=URL('static','plugin_tim/assets/css/material-kit.css')}}" rel="stylesheet"/>

	<!-- jqplot -->
	<link class="include" rel="stylesheet" type="text/css" href="{{=URL('static','plugin_tim/jqplot/jquery.jqplot.min.css')}}" />
    <link type="text/css" rel="stylesheet" href="{{=URL('static','plugin_tim/jqplot/syntaxhighlighter/styles/shCoreDefault.min.css')}}" />
    <link type="text/css" rel="stylesheet" href="{{=URL('static','plugin_tim/jqplot/syntaxhighlighter/styles/shThemejqPlot.min.css')}}" />
	{{block header}}
    {{end}}
</head>
<body class="{{block body_class}}{{end}}">
    {{block nav}}
    	<nav class="navbar navbar-transparent navbar-absolute">
        	<div class="container">
            	<!-- Brand and toggle get grouped for better mobile display -->
            	<div class="navbar-header">
            		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                		<span class="sr-only">Toggle navigation</span>
    		            <span class="icon-bar"></span>
    		            <span class="icon-bar"></span>
    		            <span class="icon-bar"></span>
            		</button>
            		<a class="navbar-brand" href="{{URL('plugin_sensor', 'report')}}">Second Life Sensor</a>
            	</div>
            	<div class="collapse navbar-collapse" id="navigation-example">
            		<ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" TYPE="button" onClick="history.go(0)"><i class="fa fa-refresh"></i></a>
                        </li>
    					<li>
    		                <a href="{{=URL('plugin_sensor', 'user', args='logout')}}" class="btn btn-simple btn-white btn-just-icon">
    							<i class="fa fa-power-off"></i>
    						</a>
    		            </li>
            		</ul>
            	</div>
        	</div>
        </nav>
    {{end}}
    <div class="wrapper">
        {{include}}
    </div>
    </body>
    	<!--   Core JS Files   -->
    	<script src="{{=URL('static','plugin_tim/assets/js/jquery.min.js')}}" type="text/javascript"></script>
    	<script src="{{=URL('static','plugin_tim/assets/js/bootstrap.min.js')}}" type="text/javascript"></script>
    	<script src="{{=URL('static','plugin_tim/assets/js/material.min.js')}}" type="text/javascript"></script>

    	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    	<script src="{{=URL('static','plugin_tim/assets/js/nouislider.min.js')}}" type="text/javascript"></script>

    	<!--  Plugin for the Datepicker, full documentation here: http://www.eyecon.ro/bootstrap-datepicker/ -->
    	<script src="{{=URL('static','plugin_tim/assets/js/bootstrap-datepicker.js')}}" type="text/javascript"></script>

    	<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
    	<script src="{{=URL('static','plugin_tim/assets/js/material-kit.js')}}" type="text/javascript"></script>

		<!-- jqplot -->
		<script class="include" type="text/javascript" src="{{=URL('static','plugin_tim/jqplot/jquery.jqplot.min.js')}}"></script>
	    <script type="text/javascript" src="{{=URL('static','plugin_tim/jqplot/syntaxhighlighter/scripts/shCore.min.js')}}"></script>
	    <script type="text/javascript" src="{{=URL('static','plugin_tim/jqplot/syntaxhighlighter/scripts/shBrushJScript.min.js')}}"></script>
	    <script type="text/javascript" src="{{=URL('static','plugin_tim/jqplot/syntaxhighlighter/scripts/shBrushXml.min.js')}}"></script>
	    <script class="include" language="javascript" type="text/javascript" src="{{=URL('static','plugin_tim/jqplot/plugins/jqplot.dateAxisRenderer.js')}}"></script>
		<script type="text/javascript" src="{{=URL('static','plugin_tim/jqplot/plugins/jqplot.logAxisRenderer.js')}}"></script>
		<script type="text/javascript" src="{{=URL('static','plugin_tim/jqplot/plugins/jqplot.canvasTextRenderer.js')}}"></script>
		<script type="text/javascript" src="{{=URL('static','plugin_tim/jqplot/plugins/jqplot.canvasAxisLabelRenderer.js')}}"></script>
		<script type="text/javascript" src="{{=URL('static','plugin_tim/jqplot/plugins/jqplot.canvasAxisTickRenderer.js')}}"></script>
		{{block js}}
        {{end}}
    </html>
