<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="profile-tabs">
            <div class="nav-align-center">
                <ul class="nav nav-pills nav-pills-primary" role="tablist">
                    <li {{if request.function == "reports_visitors_per_hour":}}class="active"{{pass}}>
                        <a href="{{=URL('plugin_sensor', 'reports_visitors_per_hour')}}" role="tab" data-toggle="">
                            <i class="material-icons">schedule</i>
                            Hour
                        </a>
                    </li>
                    <li {{if request.function == "reports_visits_per_avatar":}}class="active"{{pass}}>
                        <a href="{{=URL('plugin_sensor', 'reports_visits_per_avatar')}}" role="tab" data-toggle="">
                            <i class="material-icons">face</i>
                            Avatar
                        </a>
                    </li>
                    <li {{if request.function == "reports_visitors_all":}}class="active"{{pass}}>
                        <a href="{{=URL('plugin_sensor', 'reports_visitors_all')}}" role="tab" data-toggle="">
                            <i class="material-icons">list</i>
                            Log
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
