{{extend 'plugin_tim/layout.html'}}
{{block body_class}}profile-page{{end}}
<div class="header header-filter" style="background-image: url('{{=URL('static','plugin_tim/bg.jpg')}}'); background-size: cover; background-position: top center;">
</div>
<div class="main main-raised">
	<div class="profile-content">
        <div class="container">
			{{include 'plugin_sensor/_menu.html'}}
			<div role="tabpanel" class="row tab-pane">
				<br/><br/>
				<div class="col-md-8 col-md-offset-2">
					<h2 class="text-center text-primary">Visits Log</h2>
                    <p class="text-center text-muted">last hour</p>
					<table class="table" id="all">
						<thead>
							<tr>
								<th>Date</th>
								<th class="hidden-xs">Hour</th>
								<th>Visitor</th>
								<th>Place</th>
								<th class="text-right hidden-xs">Coordinate</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				    <div class="alert alert-primary" style="display: none;">
				            <div class="alert-icon">
				                <i class="material-icons">info_outline</i>
				            </div>
				            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				            </button>
				            <b>Hey:</b> The sensor has not sent data ...
				    </div>
				</div>
			</div>
        </div>
    </div>
	<br/><br/><br/><br/>
</div>
{{block js}}
<script>
$( document ).ready(function() {
    $.get("{{=URL('plugin_sensor', 'visitors_all')}}", function( data ) {
		data = jQuery.parseJSON(data);
		var count = 0;
		$.each(data, function(i, item) {
			console.log("aaa");
			var s = "";
			var date = new Date(data[i].year, data[i].month, data[i].day, data[i].hour, data[i].minute, data[i].second);
			s += "<td>" + date.toDateString() + "</td>";
			s += "<td  class='hidden-xs'><small>" + date.toTimeString() + "</small></td>";
			s += "<td>" + data[i].visitor + "</td>";
			s += "<td>" + data[i].place + "</td>";
			s += "<td class='text-right hidden-xs'>" + data[i].coordinate + "</td>";
			// s += "<td  class='text-right'><i class='fa fa-sign-in text-primary'></i></td>";
			s = "<tr>" + s + "</tr>";
			$("#all tbody").append(s);
			count ++;
		});
		if(!data.length) {
			$("#all").fadeOut();
			$(".alert").show();
			return
		}
	});
});
</script>
{{end}}
