{{extend 'plugin_tim/layout.html'}}
{{block body_class}}profile-page{{end}}
<div class="header header-filter" style="background-image: url('{{=URL('static','plugin_tim/bg.jpg')}}'); background-size: cover; background-position: top center;">
</div>
<div class="main main-raised">
	<div class="profile-content">
        <div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="profile-tabs">
	                    <div class="nav-align-center">
							<ul class="nav nav-pills nav-pills-primary" role="tablist">
								<li class="active">
									<a href="#day" role="tab" data-toggle="tab">
										<i class="material-icons">schedule</i>
										Hour
									</a>
								</li>
								<li>
									<a href="#avatar" role="tab" data-toggle="tab">
										<i class="material-icons">face</i>
										Avatar
									</a>
								</li>
								<li>
									<a href="#all" role="tab" data-toggle="tab">
										<i class="material-icons">list</i>
										All
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
            </div>
			<div class="tab-content">
				<div role="tabpanel" class="row tab-pane active" id="day">
					<br/><br/>
					<div class="col-md-8 col-md-offset-2">
						<h2 class="text-center text-primary">News Visits per Hour</h2>
						<div id="chart"></div>
						<br/><br/>
						<table class="table">
							<thead>
								<tr>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
				<div role="tabpanel" class="row tab-pane" id="avatar">
					<br/><br/>
					<div class="col-md-8 col-md-offset-2">
						<h2 class="text-center text-primary">Visits per Avatar</h2>
                        <p class="text-center text-muted">last week</p>
						<table class="table">
							<thead>
								<tr>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
				<div role="tabpanel" class="row tab-pane" id="all">
					<br/><br/>
					<div class="col-md-8 col-md-offset-2">
						<h2 class="text-center text-primary">All Visits Log</h2>
                        <p class="text-center text-muted">last week</p>
						<table class="table">
							<thead>
								<tr>
									<th>Date</th>
									<th>Hour</th>
									<th>Visitor</th>
									<th>Place</th>
									<th class="text-right">Coordinate</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
        </div>
    </div>
	<br/><br/><br/><br/>
</div>
{{block js}}
<script>
$( document ).ready(function() {
    $.get("{{=URL('plugin_radar', 'visitors_per_hour')}}", function( data ) {
		data = jQuery.parseJSON(data);
		var date_list_ordened = data["date_list_ordened"];
		var visitors = data["visitors"];
		$.each(date_list_ordened, function(i, item) {
			var date = date_list_ordened[i];
			var s = "";
			s += "<td>" + date + "hs </td>";
			s += "<td  class='text-right text-primary'>" + visitors[date] + " visitors</td>";
			s = "<tr>" + s + "</tr>";
			$("#day tbody").append(s);
		});
		var date_list_chart = data["date_list_chart"];
		var plot1 = $.jqplot('chart', [date_list_chart], {
		    title:"",
		    seriesDefaults: { pointLabels: { show:true }, showMarker: false },
			seriesColors:['#9c27b0'],
			grid: { background: "#fff", gridLineColor: "#fff", borderColor: "#ddd", borderWidth: 1, shadow: false},
		    axes:{
		        xaxis:{
		            renderer:$.jqplot.DateAxisRenderer,
					tickOptions:{formatString:'%b %d, %Hhs'},
		        },
				yaxis: { min: 0, tickInterval: 1, showTicks: true }
		    },
		  });
	});
	$.get("{{=URL('plugin_radar', 'visitors_per_avatar')}}", function( data ) {
		data = jQuery.parseJSON(data);
		$.each(data, function(i, item) {
			var s = "";
			s += "<td>" + i + "</td>";
			s += "<td  class='text-right text-primary'>" + data[i] + " visits per day</td>";
			s = "<tr>" + s + "</tr>";
			$("#avatar tbody").append(s);
		});
	});
	$.get("{{=URL('plugin_radar', 'visitors_all')}}", function( data ) {
		data = jQuery.parseJSON(data);
		$.each(data, function(i, item) {
			var s = "";
			var date = new Date(data[i].year, data[i].month, data[i].day, data[i].hour, data[i].minute, data[i].second);
			s += "<td>" + date.toDateString() + "</td>";
			s += "<td><small>" + date.toTimeString() + "</small></td>";
			s += "<td>" + data[i].visitor + "</td>";
			s += "<td>" + data[i].place + "</td>";
			s += "<td class='text-right'>" + data[i].coordinate + "</td>";
			// s += "<td  class='text-right'><i class='fa fa-sign-in text-primary'></i></td>";
			s = "<tr>" + s + "</tr>";
			$("#all tbody").append(s);
		});
	});
});
</script>
{{end}}
