{{extend 'plugin_tim/layout.html'}}
{{block body_class}}profile-page{{end}}
<div class="header header-filter" style="background-image: url('{{=URL('static','plugin_tim/bg.jpg')}}'); background-size: cover; background-position: top center;">
</div>
<div class="main main-raised">
	<div class="profile-content">
        <div class="container">
			{{include 'plugin_sensor/_menu.html'}}
			<div role="tabpanel" class="row tab-pane active">
				<br/><br/>
				<div class="col-md-8 col-md-offset-2">
					<h2 class="text-center text-primary">News Visits per Hour</h2>
					<div id="chart"></div>
					<br/><br/>
					<table class="table" id="day">
						<tbody>
						</tbody>
					</table>
				    <div class="alert alert-primary" style="display: none;">
				            <div class="alert-icon">
				                <i class="material-icons">info_outline</i>
				            </div>
				            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				            </button>
				            <b>Hey:</b> The sensor has not sent data ...
				    </div>
				</div>
			</div>
        </div>
    </div>
	<br/><br/><br/><br/>
</div>
{{block js}}
<script>
$( document ).ready(function() {
    $.get("{{=URL('plugin_sensor', 'visitors_per_hour')}}", function( data ) {
		data = jQuery.parseJSON(data);
		var count = 0;
		var date_list_ordened = data["date_list_ordened"];
		var visitors = data["visitors"];
		$.each(date_list_ordened, function(i, item) {
			var date = date_list_ordened[i];
			var s = "";
			s += "<td>" + date + "hs </td>";
			s += "<td  class='text-right text-primary'>" + visitors[date] + " visitors</td>";
			s = "<tr>" + s + "</tr>";
			$("#day tbody").append(s);
			count ++;
		});
		if(count == 1) {
			$("#chart").fadeOut();
			return
		}
		if(!count) {
			$("#avatar").fadeOut();
			$("#chart").fadeOut();
			$(".alert").show();
			return
		}
		var date_list_chart = data["date_list_chart"];
		$.jqplot.config.enablePlugins = true;
		var plot1 = $.jqplot('chart', [date_list_chart], {
		    title:"",
		    seriesDefaults: { pointLabels: { show:true }, showMarker: false },
			seriesColors:['#9c27b0'],
			grid: { background: "#fff", gridLineColor: "#fff", borderColor: "#ddd", borderWidth: 1, shadow: false},
		    axes:{
		        xaxis:{
		            renderer:$.jqplot.DateAxisRenderer,
					rendererOptions:{ tickRenderer:$.jqplot.CanvasAxisTickRenderer },
					labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
					tickRenderer:$.jqplot.CanvasAxisTickRenderer,
					tickOptions:{
						formatString:'%b %d, %Hhs',
						fontSize:'7pt',
						angle:-70
					},
				},
				yaxis: { min: 0, tickInterval: 1, showTicks: true }
		    },
		});
	});
});
</script>
{{end}}
