{{extend 'plugin_tim/layout.html'}}
{{block body_class}}profile-page{{end}}
<div class="header header-filter" style="background-image: url('{{=URL('static','plugin_tim/bg.jpg')}}'); background-size: cover; background-position: top center;">
</div>
<div class="main main-raised">
	<div class="profile-content">
        <div class="container">
			{{include 'plugin_sensor/_menu.html'}}
			<div role="tabpanel" class="row tab-pane">
				<br/><br/>
				<div class="col-md-8 col-md-offset-2">
					<h2 class="text-center text-primary">Visits per Avatar</h2>
                    <p class="text-center text-muted">last week</p>
					<table class="table" id="avatar">
						<thead>
							<tr>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				    <div class="alert alert-primary" style="display: none;">
				            <div class="alert-icon">
				                <i class="material-icons">info_outline</i>
				            </div>
				            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				            </button>
				            <b>Hey:</b> The sensor has not sent data ...
				    </div>
				</div>
			</div>
        </div>
    </div>
	<br/><br/><br/><br/>
</div>
{{block js}}
<script>
$( document ).ready(function() {
	$.get("{{=URL('plugin_sensor', 'visits_per_avatar')}}", function( data ) {
		data = jQuery.parseJSON(data);
		var count = 0;
		$.each(data, function(i, item) {
			var s = "";
			s += "<td>" + i + "</td>";
			s += "<td  class='text-right text-primary'>" + data[i] + " visits per day</td>";
			s = "<tr>" + s + "</tr>";
			$("#avatar tbody").append(s);
			count ++;
		});
		if(!count) {
			$("#avatar").fadeOut();
			$(".alert").show();
			return
		}
	});
});
</script>
{{end}}
