{{extend 'plugin_tim/layout.html'}}
{{block nav}}{{end}}
{{block body_class}}signup-page{{end}}
<div class="header header-filter" style="background-image: url('{{=URL('static','plugin_tim/bg.jpg')}}'); background-size: cover; background-position: top center;">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
				<div class="card card-signup">
					<form action="#" enctype="multipart/form-data" method="post">
						<div class="header header-primary text-center">
							<h4>Second Life Sensor</h4>
						</div>
						<p class="text-divider">Login</p>
						<div class="content">
							<div class="input-group">
								<span class="input-group-addon">
									<i class="material-icons">face</i>
								</span>
	                            {{form.custom.widget.username["_placeholder"] = "My Username"}}
	                            {{form.custom.widget.username["_class"] = "form-control"}}
	                            {{=form.custom.widget.username}}
							</div>
							<div class="input-group">
								<span class="input-group-addon">
									<i class="material-icons">lock_outline</i>
								</span>
	                            {{form.custom.widget.password["_placeholder"] = "My Password"}}
	                            {{form.custom.widget.password["_class"] = "form-control"}}
	                            {{=form.custom.widget.password}}
							</div>
						</div>
	                    <center>
	                        {{=form.custom.submit}}
							<p>{{=response["flash"]}}&nbsp;</p>
	                    </center>
						<div class="footer text-center">
							<a href="#pablo" class="btn btn-simple btn-primary btn-lg">Get in Marketplace</a>
						</div>
					{{=form.custom.end}}
				</div>
			</div>
		</div>
	</div>
</div>
